In [1]:
import scanpy.api as sc
import pandas as pd
import loompy
import numpy as np
import anndata as ad

In [2]:
def pandas_into_adata(dataset):
    var_seq = pd.DataFrame(index=dataset.index)
    obs_seq = pd.DataFrame(index=dataset.columns)
    X_seq = dataset.values.T
    adata_seq = ad.AnnData(X_seq, obs=obs_seq, var=var_seq)
    return adata_seq

In [38]:
# Both datasets are taken from Seurat 
# https://satijalab.org/seurat/Seurat_AlignmentTutorial.html

In [3]:
# Load 1st ile
seqwell = pd.read_table("/Users/dariapodorskaja/Downloads/IntegratedAnalysis_ExpressionMatrices/pbmc_SeqWell.expressionMatrix.txt")

In [4]:
adata_seq = pandas_into_adata(seqwell)

In [17]:
adata_seq.write_loom('seqwell_transposed.loom')

In [31]:
seqwell = sc.read_loom("/Users/dariapodorskaja/Documents/_scanpy/seqwell_transposed.loom")

In [19]:
seqwell.var_names_make_unique()

In [20]:
sc.pp.filter_cells(seqwell, min_genes=200)
sc.pp.filter_genes(seqwell, min_cells=3)

In [22]:
sc.pp.normalize_per_cell(seqwell, counts_per_cell_after=1e4)

In [25]:
seqwell.obs

              n_genes      n_counts
Bcell_1          2631  10000.008789
Bcell_2          2549  10000.042969
Bcell_3          1625  10000.075195
Bcell_4          1156  10000.003906
Bcell_5          1209  10000.065430
Bcell_6          1571  10000.013672
Bcell_7          1187  10000.009766
Bcell_8          1043   9999.952148
Bcell_9           954   9999.975586
Bcell_10          905  10000.015625
Bcell_11          866   9999.979492
Bcell_12          808   9999.991211
Bcell_13          819  10000.000000
Bcell_14          786   9999.982422
Bcell_15          748   9999.996094
Bcell_16          721  10000.032227
Bcell_17          685  10000.015625
Bcell_18          579  10000.000977
Bcell_19          775   9999.963867
Bcell_20          623  10000.025391
Bcell_21          566  10000.025391
Bcell_22          557  10000.017578
Bcell_23          509   9999.985352
Bcell_24          630  10000.036133
Bcell_25          604   9999.962891
Bcell_26          456  10000.010742
Bcell_27         3196  10000.116211
Bcell_28         2548   9999.888672
Bcell_29         2588  10000.047852
Bcell_30         3377  10000.178711
...               ...           ...
Myeloid_1811      560  10000.031250
Myeloid_1812      500  10000.019531
Myeloid_1813      578  10000.026367
Myeloid_1814      600  10000.037109
Myeloid_1815      648  10000.008789
Myeloid_1816      671  10000.012695
Myeloid_1817      617  10000.029297
Myeloid_1818      490  10000.013672
Myeloid_1819      680  10000.024414
Myeloid_1820      686  10000.018555
Myeloid_1821      470   9999.973633
Myeloid_1822      536  10000.034180
Myeloid_1823      545   9999.957031
Myeloid_1824      699   9999.956055
Myeloid_1825      750  10000.039062
Myeloid_1826      788   9999.998047
Myeloid_1827      672   9999.998047
Myeloid_1828      639   9999.969727
Myeloid_1829      468  10000.019531
Myeloid_1830      548  10000.037109
Myeloid_1831      501   9999.982422
Myeloid_1832      691  10000.041992
Myeloid_1833      542  10000.003906
Myeloid_1834      849  10000.094727
Myeloid_1835      629   9999.980469
Myeloid_1836      977   9999.961914
Myeloid_1837      722  10000.027344
Myeloid_1838      897   9999.918945
Myeloid_1839      791  10000.031250
Myeloid_1840     1015  10000.076172

[3694 rows x 2 columns]

In [26]:
# Load 2nd file 
tenx = pd.read_table("/Users/dariapodorskaja/Downloads/IntegratedAnalysis_ExpressionMatrices/pbmc_10X.expressionMatrix.txt")

In [27]:
adata_tenx = pandas_into_adata(tenx)

In [28]:
adata_tenx.write_loom('tenx_transposed.loom')

In [32]:
tenx = sc.read_loom("/Users/dariapodorskaja/Documents/_scanpy/tenx_transposed.loom")

In [34]:
tenx.var_names_make_unique()

In [35]:
sc.pp.filter_cells(tenx, min_genes=200)
sc.pp.filter_genes(tenx, min_cells=3)

In [36]:
sc.pp.normalize_per_cell(tenx, counts_per_cell_after=1e4)

In [37]:
tenx.obs

                n_genes  n_counts
AAACATACAACCAC      781    2419.0
AAACATTGAGCTAC     1352    4903.0
AAACATTGATCAGC     1131    3147.0
AAACCGTGCTTCCG      960    2639.0
AAACCGTGTATGCG      522     980.0
AAACGCACTGGTAC      782    2163.0
AAACGCTGACCAGT      783    2174.0
AAACGCTGGTTCTT      790    2260.0
AAACGCTGTAGCCA      533    1275.0
AAACGCTGTTTCTG      550    1103.0
AAACTTGAAAAACG     1116    3914.0
AAACTTGATCCAGA      751    2388.0
AAAGAGACGAGATA      866    2410.0
AAAGAGACGCGAGA     1059    3033.0
AAAGAGACGGACTT      458    1151.0
AAAGAGACGGCATT      335     792.0
AAAGCAGATATCGG     1424    4584.0
AAAGCCTGTATGCG     1014    2928.0
AAAGGCCTGTCTAG     1446    4973.0
AAAGTTTGATCACG      446    1267.0
AAAGTTTGGGGTGA     1020    3281.0
AAAGTTTGTAGAGA      417    1102.0
AAAGTTTGTAGCGT      878    2683.0
AAATCAACAATGCC      789    2319.0
AAATCAACACCAGT      510    1412.0
AAATCAACCAGGAG      824    2800.0
AAATCAACCCTATT     1545    5676.0
AAATCAACGGAAGC      996    3473.0
AAATCAACTCGCAA      937    2811.0
AAATCATGACCACA     1368    4128.0
...                 ...       ...
TTGGAGACGCTATG      862    2662.0
TTGGAGACTATGGC      739    1778.0
TTGGGAACTGAACC      858    2651.0
TTGGTACTACTGGT     1066    3265.0
TTGGTACTCTTAGG      752    2926.0
TTGGTACTGAATCC      615    1855.0
TTGGTACTGGATTC      721    1883.0
TTGTACACGTTGTG      571    1536.0
TTGTACACTTGCAG      861    2258.0
TTGTAGCTAGCTCA      933    2517.0
TTGTAGCTCTCTTA      807    2134.0
TTGTCATGGACGGA     1082    2176.0
TTTAGAGATCCTCG      820    2362.0
TTTAGCTGATACCG      887    2754.0
TTTAGCTGGATACC      850    2453.0
TTTAGCTGTACTCT     1567    5670.0
TTTAGGCTCCTTTA      803    1981.0
TTTATCCTGTTGTG     1156    3679.0
TTTCACGAGGTTCA      721    2036.0
TTTCAGTGGAAGGC      692    1780.0
TTTCAGTGTCACGA      700    1632.0
TTTCAGTGTCTATC      458     937.0
TTTCAGTGTGCAGT      637    1321.0
TTTCCAGAGGTGAG      873    2187.0
TTTCGAACACCTGA     1544    4455.0
TTTCGAACTCTCAT     1155    3459.0
TTTCTACTGAGGCA     1227    3442.0
TTTCTACTTCCTCG      622    1684.0
TTTGCATGAGAGGC      454    1022.0
TTTGCATGCCTCAC      724    1984.0

[2638 rows x 2 columns]